[Unit]
Description=Protonmail client bridge service

[Service]
Type=simple
ExecStart=/usr/bin/protonmail-bridge --noninteractive
Restart=always
KillMode=process

# Flatpak
#ExecStart=flatpak run ch.protonmail.protonmail-bridge --noninteractive
#ExecStop=flatpak kill ch.protonmail.protonmail-bridge

[Install]
WantedBy=default.target
