{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $gitSigningFormat := promptStringOnce . "gitSigningFormat" "Git signing format (openpgp or ssh)" -}}
{{- $gitSigningKey := promptStringOnce . "gitSigningKey" "Git signing key" -}}

[data]
	name = {{ $name | quote }}
	email = {{ $email | quote }}
	gitSigningFormat = {{ $gitSigningFormat | quote }}
	gitSigningKey = {{ $gitSigningKey | quote }}

