# Ignore everything in the root (but not subdirs)
/*
!/.gitignore
# Add shell stuff
!/.bash_profile
!/.bashrc
!/.bash_aliases
!/.zshenv
!/.profile
# whitelist configs dir, but blacklist contents
!/.config/
/.config/*
# whitelist individual configs
# Use VS Code sync instead
# !/.config/Code
# /.config/Code/*
# !/.config/Code/User
# /.config/Code/User/*
# !/.config/Code/User/keybindings.json
# !/.config/Code/User/settings.json
!/.config/dircolors
!/.config/exa
!/.config/git
/.config/git/override.config
!/.config/kitty
!/.config/less
# Use jetbrains' own settings sync instead
#!/.config/JetBrains
!/.config/nano
!/.config/npm
!/.config/profile
/.config/profile/override
!/.config/readline
#!/.config/restic
#/.config/restic/password*
!/.config/tmux
!/.config/systemd
/.config/systemd/user/default.target.wants/
/.config/systemd/user/*
!/.config/systemd/user/proton-bridge.service
!/.config/vim
!/.config/wget
!/.config/zsh
/.config/zsh/.zcompdump
/.config/zsh/cache
/.config/zsh/.secrets
/.config/zsh/secrets
/.config/zsh/.zoverride
/.config/zsh/zoverride


# Ignore compiled zsh
*.zwc
