#!/bin/bash

# hash: {{ include "private_dot_config/homebrew/Brewfile" | sha256sum }}
cat <<'EOF'
===================================================
Install Brewfile
===================================================
EOF

brew bundle install --file={{ joinPath .chezmoi.sourceDir "private_dot_config/homebrew/Brewfile" | quote }}
