#!/bin/bash

set -euo pipefail

# hash: {{ include "private_dot_config/flatpak-sync/config.yaml" | sha256sum }}
cat <<'EOF'
===================================================
Install Flatpaks
===================================================
EOF

# Ensure profile is configured when running on a fresh system
if [ -z "${DOTFILES_PROFILE_LOADED:-}" ]; then . ~/.bash_profile; fi

flatpak-installation-sync install --file={{ joinPath .chezmoi.sourceDir "private_dot_config/flatpak-sync/config.yaml" | quote }}

# Signal password store
flatpak override --user --env=SIGNAL_PASSWORD_STORE=gnome-libsecret org.signal.Signal

# Allow bitwarden home access (e.g. to set up .ssh)
flatpak override --user --filesystem=home com.bitwarden.desktop
