#!/bin/bash

# hash: {{ include "private_dot_config/homebrew/Brewfile" | sha256sum }}
cat <<'EOF'
===================================================
Install Brewfile
===================================================
EOF

# Ensure profile is configured when running on a fresh system
if [ -z "${DOTFILES_PROFILE_LOADED:-}" ]; then . "${XDG_CONFIG_HOME:-"$HOME"/.config}"/profile/common; fi

brew bundle install --file={{ joinPath .chezmoi.sourceDir "private_dot_config/homebrew/Brewfile" | quote }}
