#!/bin/bash

# hash: {{ include "private_dot_config/flatpak-sync/config.yaml" | sha256sum }}
cat <<'EOF'
===================================================
Install Flatpaks
===================================================
EOF


flatpak-installation-sync install --file={{ joinPath .chezmoi.sourceDir "private_dot_config/flatpak-sync/config.yaml" | quote }}
