# See more at: https://the.exa.website/docs/colour-themes
## Permission bits
ur=33
uw=38;5;172
ue=32
ux=32;4
gr=33
gw=38;5;172
gx=32
tr=33
tw=38;5;172
tx=32

## File sizes
sn=38;5;10
sb=38;5;2

## Owners and groups
uu=33;1
un=0
gu=33
gn=0;2

## Timestamp
da=38;5;14
